ion-content {
    --background: url(../../../assets/imgs/home_background.jpg) !important;
    --background-repeat: no-repeat;
    --background-size:100% 100%;
  }

  .tennis_img { 
      width:28%;
      height: auto;
      margin-left: 35%;
      margin-top:4% ;
    }

    // .logo_text{font-size:25px;font-weight:bold;margin-top:-1px;color:white;}
    .logo_text {
      font-size:20px;
      font-weight:300;
      margin-top: 15px;
      color:white;     
     text-align: center;
    }
    .logo_text1 {
      font-size:18px;
      font-weight:300;
      margin-top: 15px;
      color:white;
      text-align: center;
    }
    .logo_img {
      width:100%;
      margin-top: -16px;
      height:auto;
    }
    .mg-top-90 {
      margin-top:90px !important;
    }
     
// --------Footer-----------------------------------------------------------------------------------------------

#footer {

  margin-left:-16px;
  text-align: center;
  width:100%;
  position : relative;
  bottom : 1px;
  margin-top : 40px;
  background: rgba(0, 0, 0, .2);
}
    .social_login_div:active {
      background-color:rgba(224, 224, 235,0.1);
  }
  .social_login_google:active {
      background-color:rgba(224, 224, 235,0.1);
  }

//   .social_login_div {
//     height: 50px;
//     width: 45%;
//     color: white;
//     border: solid whitesmoke 1.5px;
//     font-size: 12px;
//     margin-bottom: 30px;
//     margin-left: 10%;
//     align-content: center;
//     text-align: center;
// }
    
  

      .social_login_google {
        height: 50px;
        width:40%;
        color: white;
        border: solid whitesmoke 1.5px;
        font-size: 12px;
        margin-bottom: 30px;
        margin-left: 10%;
        align-content: center;
        text-align: center;
      }

      // .facebook_icon {
      //   width:35px;
      //   float:left;
      //   padding-top:10px;
      //   padding-bottom:5px;
      //   padding-left:10px;
      //   margin-left: 45px;

      // }

      .social_img_google {
        width:3px;
        float:left;
        padding-top:10px;
        padding-bottom:5px;
        padding-left:10px;
        margin-left: 43px;
      }

      .social_login_name {
        font-size:15px;
        font-weight: bold;
        align-items: center;
      }

      .span_or {
        padding-top:10px;
        color:white;
        border-color:white
      }
    
    // Guest
    .guest {
      
      font-size:18px;
      font-weight:300;
      color:white;
      // display: inline-block;
      // margin:10px 0 0 0;
      border-bottom: solid 1px #fff;
     
      text-align: center;
      margin: auto;
      align-items: center;
    }

    .privacytext {
      color: white;
      font-style: italic;
      margin-bottom: -10px;
      text-align: center;
    }

    .privacytext1 {
      color: white;
      font-style: italic;
      margin-bottom: -10px;
      text-align: center;
    }


    .button {
      padding-top: 10px;
      margin-top: 15px ;
      text-align: center;
      margin-bottom: -3%;
    }