<!-----------------------------------------------------------Jai Ganesha---------------------------------------------------------------------------  -->
<!-- ----Header-- -->
<ion-content> 

  <ion-button slot="start">
    <ion-back-button defaultHref= "homescreen"></ion-back-button>
  </ion-button>
  
  <img class=" tennis_img " src="../../../assets/imgs/tennis_logo.png" >
  <p  class="logo_text" text-center>TENNIS 55</p>
  <p  class="logo_text1" text-center>by</p>
  <img class="logo_img" src="../../../assets/imgs/logo.svg">


<!--------Header End-------------------------------------------------------->

<!-----Footer ------------------------------------------------------------------------------------------------------------------------->

<!-- FaceBook Login------------------->
<p class="button" >
  <ion-button (click)="facebook_login()"> Login With Facebook  <ion-icon name="logo-facebook" slot="start" ></ion-icon> </ion-button>
  

</p>  <br>
 

<!---Facebook login end------------------->


<!-- Google Login ---------------------->
<p class="button" >
  <ion-button (click)="googleLogin()"> Login With Google  <ion-icon name="logo-google" slot="start" ></ion-icon> </ion-button>
  </p> <br>
<!-- Google Login End---------------------->

<!-- Guest---------------------->
<p class="button" >
<ion-button (click)="guestLogin()"> <u> <b> Continue As Guest...... </b> </u>  </ion-button>
</p>

<!-- Guest End ---------------------->

<!-- Terms And Conditions -->

<p class="bottom_text" text-center>
  <br><p class = "privacytext"> By signing up, you agree to What's Score </p> <br>

  <p class="privacytext1" >
  <a class="bottom_text" href="#" onclick="window.open('http://www.whatsscore.com/#/termsAndConditions', '_system', 'location=yes'); return false;">Terms of Service</a> and 
<a class="bottom_text" href="#" onclick="window.open('http://www.whatsscore.com/#/privacy', '_system', 'location=yes'); return false;">Privacy Policy</a>.
</p>

</ion-content>


<!-------------------------------------------------------------------------------------------------------------------------------------------------->
<!-------------------------------------------------------------------ReUSE---------------------------------------------------------------------------  -->
  



  








