.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  


 
.form-field-width {
  width: 100%;
}

.scoring-radio-btn {
  font-weight: normal;
 text-align: center;
  font-size: medium;

}

.scoring-radio-heading {
  font-weight: bolder;

}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.scoring-radio-btn1 {
  text-align: center;
  font-size: medium;
}

.playnowbtn {
  width: 100%;
}